<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户注册</title>
</head>
<body>
    <p th:if="${responseVO != null && responseVO.message != null}" th:text="${responseVO.message}"></p>
    <form th:action="@{/toRegister}" th:object="${registerDTO}" method="post">
        <label for="name">用户名:</label>
        <input type="text" name="name" id="name" />
        <br />
        <label for="password">密码:</label>
        <input type="text" name="password" id="password" />
        <br />
        <input type="submit" value="注册">
    </form>
</body>
</html>